.gallerysection {
    &--dark {
        background: $DarkSection;
    }
}    
    .gallerysection-wrap {
        overflow: hidden;
        position: relative;
    }
    .gallerysection__gallery {
            transition: transform 0.5s ease-in-out;
            list-style: none;
            font-size: 0;
            padding: 0;
            left: 0;
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 130%;
            min-height: 341px;
        }

            .gallerysection__item {
                padding: 0 0 0 25px;
                margin: 0;
                opacity: 0.7;
                position: relative;
                min-width: 287px;
                transition: all 0.5s ease-in-out;
                
                @include tablet-pr {
                    min-width: 0;
                    transition: none;
                    padding: 0;
                }
                
                &--active {
                    min-width: 366px;
                    opacity: 1;

                    @include tablet-pr {
                        min-width: 100%;
                    }
                }
                
                > img {
                    width: 100%;
                }

            }
                .price-box {
                    position: absolute;
                    top: 10px;
                    left: -97.9px;
                    border: 2px solid rgba(0, 0, 0, 0.5);
                    border-radius: 3px;
                    width: 382px;
                    padding: 26.8px;
                    
                    @include tablet-pr {
                        left: 0;
                    }
                }

                    .price {
                        font-family: $mainFont;
                        color: #000;
                        font-size: 1.914rem;
                        font-weight: 700;
                        margin: 0 0 39px;
                        letter-spacing: 5px;
                    }

                        .price__link {
                            font-family: $mainFont;
                            color:  rgb(136, 136, 136);
                            font-size: 0.986rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-decoration: none;
                            margin-left: 100px;
                            position: relative;
                            display: inline-block;
                            padding-right: 40.4px;

                            &:before {
                                content: '';
                                position: absolute;
                                background: url(../img/compon/price__arrow.svg) center center no-repeat;
                                background-size: cover;
                                width: 25px;
                                height: 17px;
                                right: 0;
                                transform: translateX(-8px);
                                transition: transform 0.3s ease-in-out; 
                                
                            }
                            
                            &:hover:before {
                                transform: translateX(0);
                            }
                        }


    .controls__wrap {
        padding: 10px 0 30px;
        display: inline-block;
        position: relative;
        left: 60%;

        @include tablet-pr {
            left: 50%;
            transform: translateX(-50%);
        }
    }

        .controls {
            margin: 0 auto;
            width: 134px;
            display: flex;
            justify-content: space-between;
            align-items: center;      
            position: relative;  

            @include tablet-pr {
                width: 300px;
                height: 120px;
            }
        }

            .number-window {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                box-shadow: 0px 0px 30px 0px rgba(0, 15, 26, 0.21);
                display: flex;
                background: whitesmoke;
                z-index: 1; 
                
                span {
                    font-family: $mainFont;
                    color:  #000000;
                    font-size: 1.568rem;
                    font-weight: 700;
                    margin: auto;
                }
            }

            .controls__btn--left {
                background: url(../img/gallery_1/compon/arrowhead-thin-outline-to-the-left.svg) center center no-repeat;
            }

            .controls__btn--right {
                background: url(../img/gallery_1/compon/arrow-point-to-right.svg) center center no-repeat;
            }

            .controls__btn {
                border: none;
                background-size: cover;
                width: 10px;
                height: 16px;
                z-index: 99;
                cursor: pointer;
                outline: none;

                @include tablet-pr {
                    width: 20px;
                    height: 32px;
                }
            }

            .numbers__wrap {
                position: absolute;
                margin: 0;
                transition: transform 0.3s ease-in-out;
                
                @include tablet-pr {
                    display: none;
                }
            }

                .numbers__list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 0;
                    width: 999px;
                }
                    .numbers__item {
                        width: 40px;
                        display: inline-block;
                        text-align: center;
                        transition: width 0.3s ease-in-out;

                        &:last-child {
                            margin: 0;
                        }

                        &--active {
                            width: 132px;
                        }

                        > span {
                            text-decoration: none;
                            font-family: $mainFont;
                            color:  rgba(135, 135, 135, 1);
                            font-size: 0.691rem;
                            font-weight: 700;
                        }
                    }
        