.swich__wrap {
    width: 50px;
    position: absolute;
    top: 118px;
    left: 48px;  

    @include tablet-pr {
        display: none;
    }
}
    .arrow__wrap {
        padding: 0 0 45px;
        position: relative;
        

        &:after {
            content: '';
            width: 2px;
            height: 25px;
            background: $AccentColor;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .arrow__up {
            background: url(../img/topgallery/compon/arr__up.svg) center no-repeat;
            width: 16px;
            height: 13px;
            margin: 0 auto 20px;
        }
        
        .arrow__down {
            background: url(../img/topgallery/compon/arr__down.svg) center no-repeat;
            width: 16px;
            height: 13px;
            margin: 0 auto 8px;
        }
        .arrow {
            display: block;
            border: none;
            background-size: cover;
            cursor: pointer;
            outline: none;

            
                                   
        }
        
    }
    
    .swicher__numbers-wrap {
        position: relative;
    }

    .swicher {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 30px 0px rgba(0, 15, 26, 0.21);
        display: flex;
        position: absolute;
        background: whitesmoke;
        z-index: 1; 
        top: 0;
        transition: transform 0.3s ease-in-out;
        
        span {
            font-family: $mainFont;
            color:  #000000;
            font-weight: 700;
            margin: auto;
        }
    }

    .swich__list {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
    }
        .swich__number    {
            height: 25px;
            text-align: center;
            transition: height 0.3s ease-in-out;
            

            &--active {
            height: 50px;
            }
        }
            .swich__link    {
                text-decoration: none;
                font-family: $mainFont;
                color:  rgba(135, 135, 135, 1);
                font-size: 0.691rem;
                font-weight: 700;
                vertical-align: bottom;
                cursor: text;
            }