
// Layout

$AccentColor: rgba(184, 164, 126, 1);
$DarkSection: rgba(213, 213, 213, 1);
$ImgBackground: rgba(251, 247, 242, 1);
$DarkPriceBorder: rgba(53, 53, 53, 1);

// Text
$MainTextLight: rgba(167, 167, 167, 1);
$MainTextDark: rgba(56, 56, 56, 1);
$bigNumbers: rgb(151, 151, 151);








$mainFont: "Montserrat", sans-serif;
$secondFont: "Roboto", sans-serif;


