.footer {
    background: $DarkSection;
    padding: 23px 0 16px 0;
}
    .footer__wrap {
        font-size: 0;
        padding: 0 59px 0 52px;

        @include tablet-ls {
            padding: 0 15px;
        }

        @include mobile {
            padding: 0 15px;
        }
    }


        // LOGO

        .logo-column {
            width: 18%;
            display: inline-block;

            @include mobile {
                width: 100%;
            }
        }
            .img__wrap {
                text-align: left;
            }
            

        // NAVIGATE

        .nav-column {
            display: inline-flex;
            flex-direction: column;
            width: 35%;
            vertical-align: top;

            @include tablet-pr {
                width: 82%;
                align-items: center;
            }
            
            @include mobile {
                width: 100%;
                margin-top: 20px; 
            }
        }
            .nav__list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                justify-content: flex-end;

                &--footer {
                    margin-bottom: 75px;

                    @include tablet-pr {
                        margin: 0 0 35px 0;
                    }
                }
            }
                .nav__item--footer {
                    margin: 0 45px 0 0;

                    @include mobile {
                        margin: 0 30px 0 0; 
                    }

                    &:last-child {
                        margin: 0 0 0 0;
                    }
                }

                .social__item {
                    margin: 0 45px 0 0;

                     &:last-child {
                        margin: 0 0 0 0;
                    }
                }

                    .nav__link--footer, .social__link {
                        font-family: $secondFont;
                        color:  rgb(145, 145, 145);
                        font-size: 0.592rem;
                        font-weight: 500;

                        &:hover {
                            color: #000000;
                        }
                    }

                    .social__link {
                        text-transform: lowercase;
                    }
            
        // ADDRESS

        .address-column {
            padding: 0 0 0 84px;
            vertical-align: top;
            width: 32%;
            display: inline-block;

            @include tablet-ls {
                 width: 28%;
            }
            
            @include tablet-pr {
                padding: 0 0 0 10px;
                margin: 35px 0;
                width: 50%;
            }
        }   

            .address {
                font-family: $secondFont;
                color:  rgb(145, 145, 145);
                font-size: 0.692rem;
                font-weight: 400;
                font-style: normal;
                margin: 0;
                line-height: 1.4;

                &:first-child {
                    margin: 5px 0 0 0;
                    color:  #000000;
                }

                > span {
                    font-weight: 500;
                }
            }

        
        // SUBSCRIBE

        .subscribe-colum {
            width: 15%;
            display: inline-block;
            vertical-align: top;
         
            
            @include tablet-pr {
                width: 50%;
                margin: 35px 0;
            }

            @media (max-width : 482px) {
                width: 100%;
                margin: 0 0 20px 0; 
            }

        }
            .subscribe-title {
                font-family: $mainFont;
                color:  #000000;
                font-size: 0.692rem;
                font-weight: 700;
                margin: 10px 0 0 0;
                text-transform: uppercase;
            }

            .subscribe-text {
                font-family: $secondFont;
                color:  #383838;
                font-size: 0.633rem;
                font-weight: 400;
                margin: 12px 0 12px;
                line-height: 1.4;
            }

            .subscribe-input {
                width: 76%;
                height: 20.5px;
                vertical-align: middle;
                font-size: 0.792rem;
                font-family: $secondFont;

                 @include tablet-pr {
                    width: 40%;
                }
                
            }

            .subscribe-submit {
                vertical-align: middle;
                width: 27px;
                height: 21px;
                border: none;
                background: url(../img/compon/arr__right__white.svg) center center no-repeat, #000000;
                background-size: 17px 8px;
            }
            

            .copyright {
                font-family: $secondFont;
                color:  $MainTextDark;
                font-size: 0.552rem;
                font-weight: 400;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: 0;
            }









