.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    // display: none;

    @include tablet-ls {
        position: relative;
    }

    @include tablet-pr {
    }
}    

    .container {
        @include container;
    }

        .header__wrap {
            display: flex;
            align-items: center;
            position: relative;

            @include tablet-ls {
                background: white;
            }

            @include tablet-pr {
                background: $AccentColor;
            }
        }
            .header__logo {
                position: relative;
            }    

                .logo__link {
                    width: 140px;
                    height: 140px;
                    background: $AccentColor;
                    border-radius: 50%;
                    display: flex;
                    margin-top: -44px;
                    margin-left: 7px;

                     @include tablet-pr {
                        margin-top: 0;
                        height: auto;
                    }
                    
                    .logo__img {
                        margin: 62px auto auto;
                        width: 98px;
                        height: 39px;

                         @include tablet-pr {
                            margin: 15px auto;
                        }
                    }
                }
            .header__nav {
                
            }

                .header__nav-list {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    padding: 0;
                    margin: 0 0 0 90px;

                    @include tablet-pr {
                        margin: 0;
                        position: fixed;
                        top: 0;
                        right: 0;
                        height: 100vh;
                        max-width: 500px;
                        width: 80%; 
                        transform: translate(115%);
                        margin: 0;
                        background: grey;
                        z-index: 10;
                        flex-direction: column;
                        align-items: flex-start;
                        transition: transform 0.5s ease-in-out;
                        padding: 60px 0;
                        box-shadow: 0 0 16px black;
                    }
                    &--active {
                        transform: translate(0);
                    }
                }
                    .nav__item {
                        margin-left: 64px;
                        margin-bottom: 12px;
                            @include tablet-pr {
                                margin: 0;
                                width: 100%;

                                &:active {
                                    @include tablet-pr {
                                        background: rgba(0,0,0,0.5);
                                    }
                                }
                            }

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                        .nav__link {
                            font-family: $secondFont;
                            text-decoration: none;
                            font-size: 0.59rem;
                            letter-spacing: 1px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: black;
                            position: relative;
                            transition: color 0.3s ease-in-out;

                            @include tablet-pr {
                                display: block;
                                width: 100%;
                                padding: 30px 0 30px 50px;
                                font-size: 1rem;
                                color: white;
                            }

                           
                            
                            &--light {
                                color: white;
                                transition: color 0.3s ease-in-out;
                                text-shadow: 0 0 3px black;

                                 @include tablet-ls {
                                    color: black;
                                    text-shadow: none;
                                }

                                @include tablet-pr {
                                    color: white;
                                }
                            }

                            &:hover {
                                color: $AccentColor;
                                
                                @include tablet-pr {
                                    color: white;
                                }
                                
                            }
                           
                                &:before, &:after {
                                    content: '';
                                    background: $AccentColor;
                                    position: absolute;

                                    @include tablet-pr {
                                        display: none;
                                    }
                                }
                                &:before {
                                    width: 0px;
                                    height: 2px;
                                    left: calc(-9px - 24px);
                                    top: 50%;
                                    transform: translateY(-50%);
                                    transition: width 0.3s ease-in-out;
                                }
                                &:hover:before {
                                    width: 24px;
                                }

                                &:after {
                                    width: 0px;
                                    height: 0px;
                                    border-radius: 50%;
                                    left: calc(13px + 100%);
                                    top: 50%;
                                    transform: translateY(-50%);
                                    transition: width 0.3s ease-in-out, 
                                                height 0.3s ease-in-out;
                                }

                                &:hover:after {
                                    width: 6px;
                                    height: 6px;
                                }
                        }